/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

@media (min-width: 1200px){
    .container {
        width: 980px;
    }
}

header {
    font-size: 18px;
    color: white;
    background: #ce1d2d; /* Old browsers */
    background: -moz-linear-gradient(top, #ce1d2d 0%, #ae121f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ce1d2d), color-stop(100%, #ae121f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ce1d2d 0%, #ae121f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ce1d2d 0%, #ae121f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ce1d2d 0%, #ae121f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ce1d2d 0%, #ae121f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce1d2d', endColorstr='#ae121f', GradientType=0); /* IE6-9 */
    border-radius: 0;
}

header a {
    color: white;
}

.navbar-default {
    background: none;
    border: none;
    margin-bottom: -20px;
    margin-top: -20px;
}

.navbar-default .navbar-nav > .active > a {
    color: red;
}

.navbar-default .navbar-nav > li:last-child {
    margin-right: 30px;
}

.navbar-default .navbar-nav.pull-right {
    margin-right: 30px;
}

.navbar-default .navbar-nav > li > a,
.navbar > .container .navbar-brand {
    color: #ffffff;
    font-size: 18px;
    padding: 0 25px 0 0;
    margin: 0;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: #ffffff;
}

header .phone {
    background: url("../img/phone.png") no-repeat left center;
    padding-left: 45px;
}

header .search {
    margin-top: 30px;
}

header .search input{
    border: none;
    border-radius: 20px;
    background: white url('../img/search-btn.png') no-repeat 10px center;
    color: #ce1d2d;
    padding-left: 35px;
    padding-right: 5px;
    width: 170px;
}

header > .container {
    padding-top: 20px;
}

header .user-menu {
    background: url("../img/user.png") no-repeat right 10px;
}

header .user-menu ul {
    list-style: none;
    margin-right: 40px;
}

header .user-menu ul li a {

}

header .user-menu ul li a:hover {
    text-decoration: underline;
    color: white;
}

header .cart {
    margin-top: 30px;
    padding: 5px 0;
    background: url("../img/cart.png") no-repeat right top;
}

header .cart .price-in-cart {
    margin-right: 40px;
}